<div class="block-1">
  <div class="heading-1">
    <div class="heading-1-bars" routerLink="/slider">Главная</div>
    <div class="heading-1-bars">О компании</div>
    <div class="heading-1-bars">С нами выгодно</div>
    <div class="heading-1-bars">Условия покупки</div>
    <div class="heading-1-bars">Помощь</div>
    <div class="heading-1-bars" routerLink="/form">Контакты</div>
    <div class="heading-1-bars">Акции</div>
    <div class="heading-1-bars" id="btnLogin">АВТОРИЗАЦИЯ</div>
    <div class="heading-1-bars" routerLink="/cart">КОРЗИНА: 0шт. - 0тг.</div>
  </div>
  <div class="heading-2">
    <img src="../../../assets/header_img1.png" height="128" width="896"  alt="shapka_img" class="shapka_img"/>
  </div>
  <div class="heading-3">
    <div class="heading-3-bars">Каталог товаров</div>
  </div>
</div>
