<div class="form_bar">
  <h3>Форма обратной связи</h3><br>
  <p><label>Введите ваше имя:<br><input type="text" name="name" size="30" maxlength="25" placeholder="макс. 25 символов"></label></p><br>
  <p><label>Введите ваш телефон или почту:<br><input type="text" name="password" size="30" maxlength="25" placeholder="макс. 25 символов"></label></p><br>


  <p><label for="text">Поделитесь своими нароботками в экономии времени:</label></p>
  <textarea name="text" cols="50" rows="6" id="text" placeholder="Cообщение..."></textarea>
  <br>
  <a href=""><img class="btnSend" src="../../assets/ibutton.png"></a>

</div>
