<div class="block-2-left">
  <div class="block-2-left-bars">Письменные принад.</div>
  <div class="block-2-left-bars">Настольные принад.</div>
  <div class="block-2-left-bars">Папки,файлы,портфели</div>
  <div class="block-2-left-bars">Бумажная продукция</div>
  <div class="block-2-left-bars">Упаковочные материалы</div>
  <div class="block-2-left-bars">Штемпельная продукция</div>
  <div class="block-2-left-bars">Канцелярские наборы</div>
  <div class="block-2-left-bars">Детское творчество</div>
  <div class="block-2-left-bars">Бакалея для офиса</div>
  <div class="block-2-left-bars">Подарочная продукция</div>
  <div class="block-2-left-bars">Техника для офиса</div>
  <div class="block-2-left-bars">Мебель, сейфы</div>
  <div class="block-2-left-bars"><a class="price_list" href="../../../assets/price_list.rar">СКАЧАТЬ ПРАЙС-ЛИСТ</a></div>
</div>
